body,html{
    margin:0;
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #487eb0;
}

div{
    display: block;
}

.container{
    background-color: white;
}

.navbar{
    top:0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: inline;
    box-shadow: 0 0 30px black;
    overflow: hidden;
    padding: 0;
}

.nav-logo{
    float: left;
    width: auto;
}

.nav-logo > a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    
}

.nav-section{
    float: right;
    width: 50%;
}

.nav-content{
    float: right;
    margin:0;
}



.nav-content > a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    float: left;
    width: auto;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.nav-content>a:hover{
    background-color: #487eb0;
    color: white;
    transition: 0.3s;
}