body,html{
    margin:0;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #487eb0;
}

div{
    display: block;
}

.navbar{
    top:0;
    position: sticky;
    background-color: #fff;
    width: 100%;
    display: block;
    box-shadow: 0 0 30px black;
    overflow: hidden;
    padding: 0;
}

.nav-logo{
    float: left;
    width: auto;
}

.nav-logo > a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    
}

.nav-section{
    float: right;
    width: 50%;
}

.nav-content{
    float: right;
    margin:0;
}



.nav-content > a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    float: left;
    width: auto;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.nav-content>a:hover{
    background-color: #487eb0;
    color: white;
    transition: 0.3s;
}

.profile-section{
    margin: 5% 15% 0 15%;
    height: 100px;
}

#aboutme{
    min-height: 100%;
}

#project{
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
}